/* @media (min-width: 990px) and (max-width: 1200px) { 
  .box1{
    //padding-bottom: 89px;
    
  }
}  */
 
body{
	font-family: 'Open Sans', sans-serif;
}

header{

  li{
    text-transform: uppercase;
  }
  nav.navbar{
    margin-bottom: 0;
    border-width: 0 0 1px 0;
    border-color: rgba(255, 255, 255, 0.15);

    &.affix{
      background-color: #b4a0dd;
    }

    &.affix-top{
      background-color: transparent;
    }

    form{
      input{
        height: 2.4em;
        border-radius: 1.2em;
      }
      i.fa{
        margin-left: -2.2em;
        color: rgba(0,0,0,0.3);
      }
    }

    a.navbar-brand{
      .name{
        color: #DF2BEC;
        font-size: 1.2em;
      }
      .tagline{
        color: #FFFFFF;
        font-size: 0.8em;
      }
    }

    &.navbar-default .navbar-nav>li{

      &>a{
        &, &:hover, &:visited, &:link{
          border-bottom: 3px solid transparent;
          color: #FFF;
          transition: border-color 0.3s ease-in;
          background-color: transparent;
        }
        &:hover{
          border-color: rgba(255, 255, 255, 0.4);
        }
      }

      &.active a{
        border-color: #FFF;
        &, &:hover, &:visited, &:link{
          background-color: transparent;
        }
        
        
      }
      
    }
  }
}

